*{
    margin: 0;
    padding: 0;
}

header{
    padding: 75px 0 100px 0;
}

section{
    padding-bottom: 70px;
}

.font-zero{
    font-size: 0;
}

.container{
    margin: 0 auto;
    width: 900px;
}

.nav-items{
    text-align: center;
}

.nav-item{
    display: inline-block;
    list-style: none;
    margin-right: 120px;
}

.nav-item:last-child{
    margin-right: 0;
}

.nav-item a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #626262;
}

.nav-item a:hover{
    color: #25b4f5;
}

.post{
    width: 420px;
    display: inline-block;
    margin-bottom: 130px;
}

.post:nth-child(odd){
    margin-right: 55px;
}

.post-img{
    width: 100%;
    margin-bottom: 30px;
}

.post-category{
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.post-title{
    font-size: 30px;
    color: #626262;
    margin-bottom: 45px;
}

.post-description{
    font-size: 14px;
    color: #626262;
}

.button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #626262;
    padding: 20px 35px;
    background: transparent;
    border: 1px solid #626262;
    
}

.button:hover{
    color: #25b4f5;
    border: 1px solid #25b4f5;
    cursor: pointer;
}






