/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto', sans-serif;
*/

html{
    font-size: 10px;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    padding: 3rem 0 23rem 0;
    background: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16.5rem;
}

.logo{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    transition: 200ms linear;
}

.logo:hover{
    color: #fce38a;
    transition: 200ms linear;
}

.nav-list{
    display: flex;
}

.nav-list__item, 
.nav-list__icon{
    list-style-type: none;
    margin-right: 5.5rem;
}

.nav-list__item:last-child,
.nav-list__icon:last-child{
    margin-right: 0;
}

.nav-list__link{
    display: block;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 0.3rem solid transparent;
    transition: 200ms linear;
}

.nav-list__link:hover{
    color: #fce38a;
    border-bottom: 0.3rem solid #fce38a;
    transition: 200ms linear;
}


.nav-list__icon-link{
    display: block;
}

.nav-list__icon--cart,
.nav-list__icon--glass{
    height: 2rem;
    width: 2rem;
    fill: #fff;
    transition: 200ms linear
 }

 .nav-list__icon--cart:hover,
.nav-list__icon--glass:hover{
    fill: #fce38a;
    transition: 200ms linear;
}

.header-section{
    text-align: center;
}

.header-title{
    color: #fff;
    font-size: 15rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12rem;
}

.header-title__italic{
    font-family: 'Kaushan Script', cursive;
    display: block;
    font-size: 7.2rem;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 6.5rem;
}

.header-link{
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.3rem solid #fff;
    transition: 200ms linear;
}

.header-link:hover{
    color: #fce38a;
    border: 0.3rem solid #fce38a;
    transition: 200ms linear;
}

.section{
    padding: 4.5rem 0;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
}

.section-title::after{
    content: "";
    display: block;
    margin: 4rem auto 0 auto;
    height: 0.3rem;
    width: 6rem;
    background: #f38181;
}

.section-title__italic{
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4rem;
    padding-bottom: 2.4rem;
}

.section-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-item{
    position: relative;
    max-width: 33.333%;
    padding-left: 6rem;
    padding-bottom: 10rem;
}

.list-item:nth-child(1n+4){
    padding-bottom: 0;
}

.list-item__icon--clock::before, 
.list-item__icon--graph::before,
.list-item__icon--computer::before,
.list-item__icon--book::before,
.list-item__icon--home::before,
.list-item__icon--frame::before{
    content: "";
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 3px;
}

.list-item__icon--clock::before{
    background: url('../img/icons-sprite.svg#icon-clock');
}

.list-item__icon--graph::before{
    background: url('../img/icons-sprite.svg#icon-graph');
}

.list-item__icon--computer::before{
    background: url('../img/icons-sprite.svg#icon-computer');
}

.list-item__icon--book::before{
    background: url('../img/icons-sprite.svg#icon-book');
}

.list-item__icon--home::before{
    background: url('../img/icons-sprite.svg#icon-home');
}

.list-item__icon--frame::before{
    background: url('../img/icons-sprite.svg#icon-frame');
}

.list-item__name{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
}

.list-item__text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #b3b3b3;
    line-height: 2.6rem;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx){
    .header{
        background: url('../img/main-bg@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}